<div class="jumbotron center">
	<h1>VEXLOR</h1>
	</br>
	<p>Assessoria jurídica e contábil para recuperação de créditos tributários de empresas.</p>
	</br>
	<p>Fale conosco em  <a href="mailto:contato@vexlor.com", class="btn btn-primary btn-lg">contato@vexlor.com</a></p>
</div>

<footer class="footer center">
    <h4><a href="mailto:contato@vexlor.com">contato@vexlor.com</a></h4>
    </br>
    <p>Copyright Vexlor @ 2016 | Todos os direitos reservados</p>
 </footer>