<!DOCTYPE html>
<html>
<head>
	  <title>Vexlor - compensação de créditos tributários previdenciários</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
</head>

<body>
	<header class="container">
		<h1>VEXLOR</h1>
	</header>
<%= yield %>

</body>
<footer>
</html>

<meta name="viewport" content="width=device-width, initial-scale=1.0">